page-single-buku {
    .hidetombol{
        display: none;
    }
    img{
        padding-left: 23%;
    }
    p, h3{
        padding-left: 8%;
    }
    h2 {
        padding-left: 8%;
        padding-top: 15px;
    }

        
    
}
