<ion-menu [content]="content">
  <ion-content>
    <ion-card class="hero">
        <img src="../assets/imgs/1046340_help-the-hillel-library_1698x1131_h.jpg"/>
        <ion-grid class="user">
          <ion-row>
            <ion-col class="avatar" col-4>
              <img src="../assets/imgs/3650fcbcaa865a9b2633853ec2d9de90.jpg" />
            </ion-col>
            <ion-col class="desc" col-8>
              <h2 *ngIf="profile">{{ profile.name }}</h2>
              <p *ngIf="profile">{{ profile.email }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
    <ion-list class="mainmenu">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}}
      </button>
    </ion-list>
    <button menuClose ion-item (click)="LogOut(p)">
      <ion-icon name="key"></ion-icon> Log Out
    </button>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>